@media all and (max-width: 480px)
{
    html, body {
        width: auto;
        height: 100%;
        font-family: 'Raleway', sans-serif;
    }
    header .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: .5em 2.5em;
    }
    #logoPicture {
        order: 1;
        width: 25%;
        padding-left: 2.5em;
    }
    ::placeholder {
        color: black;
        font-weight: bold;
        font-size: .8em;
    }
    .link {
        display: flex;
    }
    #register {
        font-weight: bold;
        order: 1;
    }
    #item-filters a {
        margin-top: .8em;
        margin-bottom: .2em;
    }
    #item-filters h3 {
        margin-right: 3em;
    }
    .iconTitle {
        display: flex;
        margin-bottom: .2em;
    }
    #input-field {
        width: 50%;
    }
    #linkAccommodation {
        order: 3;
    }
    #linkActivity {
        order: 4;
    }
    #bottomHeader {
        margin: auto;
    }

    /* MAIN */
    #main {
        display: flex;
    }
    #wrapper {
        display: flow-root;
    }
    #accommodation {
        -webkit-order: 2;
        order: 2;
        margin-top: .5em;
        margin-right: auto;
        padding-top: .2em;
        background-color: white;
    }
    .famous {
        margin-right: auto;
        padding-right: .5em;
        padding-left: .5em;
        -webkit-order: 1;
        order: -1;
    }
    .famousCard {
        padding: 0;
    }
    #wrapperAccommodation {
        display: flow-root;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .card {
        margin-right: .5em;
        width: auto;
        border-radius: 1em;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
    }
    .card img {
        border-radius: 25px 25px 0 0;
        height:200px;
        width:100%;
    }
    #activity .card {
        background-color: white;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 1.5em;
        padding: .2em;
        border-radius: 25px;
        flex: 0 0 25%;
    }
    #activity .card img{
        height: 250px;
    }
    .bigCard {
        margin-top: 1.5em;
        border-radius: 1em;
    }
    .bottomMiddle {
        flex-direction: column;
    }
    .bottomMiddle .card {
        box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
    }
    #activity-title{
        margin-left: 1em;
    }
    /* FOOTER */
    footer {
        margin-top: 4em;
        padding: .5em 2.5em;
        background-color: #F2F2F2;
    }
    .footer {
        display: flow-root;
    }
    .footer div {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    html, body {
        font-family: 'Raleway', sans-serif;
    }
    header .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: .5em 2.5em;
    }
    #logoPicture {
        order: 1;
        width: 25%;
        padding-left: 2.5em;
    }
    ::placeholder {
        color: black;
        font-weight: bold;
        font-size: .8em;
    }
    .link {
        display: flex;
    }
    #register {
        font-weight: bold;
        order: 1;
    }
    #item-filters a {
        margin-top: .8em;
        margin-bottom: .2em;
    }
    #item-filters h3 {
        margin-right: 3em;
    }
    .iconTitle {
        display: flex;
        margin-bottom: .2em;
    }
    #input-field {
        width: 50%;
    }
    #linkAccommodation {
        order: 3;
    }
    #linkActivity {
        order: 4;
    }
    #bottomHeader {
        margin: auto;
    }

    /* MAIN */
    #main {
        display: flex;
    }
    #wrapper {
        display: flow-root;
    }
    #accommodation {
        width: 65%;
        margin: auto;
        margin-top: 2em;
    }
    .famous {
        width: 65%;
        margin: auto;
    }
    .famousCard {
        padding: 0;
    }
    #wrapperAccommodation {
        display: flow-root;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .card {
        margin-right: 2.5em;
        margin-left: 2.5em;
        width: auto;
        border-radius: 1em;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
    }
    .card img {
        border-radius: 25px 25px 0 0;
        height:415px;
        width:100%;
    }
    #activity .card {
        background-color: white;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 1.5em;
        padding: .2em;
        border-radius: 25px;
        flex: 0 0 25%;
    }
    #activity .card img{
        height: 350px;
    }
    .bigCard {
        margin-top: 1.5em;
        border-radius: 1em;
    }
    .bottomMiddle {
        flex-direction: column;
        width: 80%;
        margin: 0 20%;
    }
    .bottomMiddle .card {
        box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
    }
    #activity-title{
        margin-left: 1em;
    }
    /* FOOTER */
    footer {
        margin-top: 4em;
        padding: .5em 2.5em;
        background-color: #F2F2F2;
    }
    .footer {
        display: flow-root;
    }
    .footer div {
        margin-right: 0;
    }
    
  }